@font-face {
  font-family: alexandria;
  font-weight: bold;
  src: url(../public/fonts/Alexandria-Bold.ttf);
}
@font-face {
  font-family: alexandria;
  font-weight: normal;
  src: url(../public/fonts/Alexandria-Regular.ttf);
}

.App {
  text-align: center;
  background-image: linear-gradient(to right, #0c0042,#e09316)
}








.prayer-name {
  position: absolute;
  margin-top: 5px;
  color: white;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
